:root{
    --color_rojo360: #f52e3a;
}
.coversheet{
    z-index: 0;
}

/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */

.contenedo_pre .btn_cancelar{
    background-color: var(--color_rojo360);
}



/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */
.contenedo_resultado .contenedo_resultados{
    background: var(--color_rojo360);
}



