.filtros_dinamicos{
    width: 500px;
    padding: 10x;
}
.filtros_dinamicos .selector_filtros{
    display: flex;
    padding: 10px;
}
.filtros_dinamicos .selector_filtros .controles_selectrorFiltros{
    display: flex;
    /* padding: 10px; */
    align-items: end;
    align-content: center;
    padding-left: 10px;
}
.filtros_dinamicos .lista_filtros{}
.filtros_dinamicos .lista_filtros .itemFiltro{
    display: flex;
}
.filtros_dinamicos .lista_filtros .itemFiltro .itemControles{
    display: flex;
    align-items: end;
    align-content: center;
    padding-left: 10px;
}
.filtros_dinamicos{}
.filtros_dinamicos{}
.filtros_dinamicos{}
.filtros_dinamicos{}