:root {
    --rojo-claro360: rgba(218, 41, 28);
    --shadow-rgb: 0, 0, 0;
    --shadow-light: rgba(0, 0, 0, 0.08);
    --shadow-light-rgb: 0, 0, 0;
}

/* ---------------------------------- */
/* estilos para las alertas  */
/* ---------------------------------- */

.alert_360 .content_alert_360 {
    color: #000000;
}

.alert_360 .btn_alert_360 {
    /*     text-align:center;
        display:flex;
        align-content: center;
        justify-content:center;
        align-items:center; */
}

/* ---------------------------------- */
/* estilos para el catalogo de imagenes  */
/* ---------------------------------- */
.contendor_catalogo_fondos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 3fr));
    grid-gap: 10px;
    width: 400px;
    padding: 10px;
    grid-auto-columns: minmax(10px, auto);
    ;
}

.contendor_catalogo_fondos .item_imagen {
    width: 100px;
    /* border: #000000;
    border-width: 1px;
    border-style: solid; */
    cursor: pointer;
}

.cancelar_imagen´ {
    display: flex;
    position: absolute;
    top: -10px;
    background-color: red;
    width: 20px;
    height: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    right: 10px;
    cursor: pointer;
    border-radius: 50%;
    color: #fff;
}

/* ---------------------------------- */
/* estilos para el boton de input  */
/* ---------------------------------- */

/**********File Inputs**********/
.container-input {
    display: flex;
    position: relative;
    text-align: center;
    /* background: #282828; */
    /* border-top: 5px solid #c39f77; */
    /* padding: 50px 0; */
    /* border-radius: 6px; */
    /* width: 50%; */
    /* margin: 0 auto; */
    /* margin-bottom: 20px; */
    align-items: center;
    align-content: center;
    justify-content: center;
    vertical-align: middle;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.inputfile+label svg {
    /* width: 1em; */
    /* height: 1em; */
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.iborrainputfile {
    font-size: 16px;
    font-weight: normal;
    font-family: 'Lato';
}

/* ------------------ */

.inputfile-1+label {
    color: #fff;
    background-color: var(--rojo-claro360);
}

.inputfile-1:focus+label,
.inputfile-1.has-focus+label,
.inputfile-1+label:hover {
    background-color: var(--rojo-claro360);
}

/* ---------------------------------- */
/* para el contenido del modal de filtros */
/* ---------------------------------- */
.contendor_catalogo_fondos .item_imagen.active {
    border-color: red;
    border-style: groove;
    border-width: 2px;

}

.seleccion_filtro_publicador {
    display: flex;
}

.seleccion_filtro_publicador .item_tipo_filtro label {
    background: var(--rojo-claro360);
    border-color: #961d14;
    height: 25px;
}

.seleccion_filtro_publicador .item_tipo_filtro .btn-check:active {
    color: #fff;
    background-color: #961d14;
    border-color: #961d14;
    box-shadow: none;
}


.modal_efimero_bs5 .modal-content {
    color: #fff;
    background: #1a1a1a !important;
}

.modal_efimero_bs5 .btn_aceptar {
    background-color: var(--rojo-claro360);
    border-color: var(--rojo-claro360);
    color: #fff;
}

.modal_efimero_bs5 .btn {
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    display: flex;
}

.contenedor_subir_imagen{

}

/* se debe buscar algun para colocar los estilos  */
/* para componentes de funciones extendidas */
.extended_functions_preview{
    display:flex;
    justify-content: space-between;
    font-size:13px;
    padding: 10px 0 0 0;

}
.extended_functions_preview .name_option{
    padding-left: 15px
}
.extended_functions_preview .open_options{
    border: none;
    padding: 5px 12px;
    font-size: 12px;
    font-weight: normal;
    box-sizing: border-box;
    border-radius: 6px;
    background: #da291d;
    border-radius: 20px;

}